*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #fff;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
text-align: center;
padding: 15px 0;
}

body{
background-color: #2ecc71;
}

main div{
font-size: 20px;
}