*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
color: #fff;
text-transform: uppercase;
}

body{
background-color: #34495e;
}

main section{
text-align: center;
}

main section input,button{
padding: 15px;
margin: 15px;
background-color: #2c3e50;
box-shadow: 0 0 10px #000;
}

main section input::placeholder{
color: #fff;
text-align: center;
}

main section button{
background-color: #fff;
color: #444;
font-weight: bold;
border-radius: 15px;
cursor: pointer;
transition: .3s;
}

main section button:active{
box-shadow: 0 0 2px #000;
transform: scale(.95);
}

main section article{
box-shadow: 0 0 10px #000;
height: 300px;
max-width: 400px;
margin: 15px auto;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
background-color: #2c3e50;
font-size: 45px;
border-radius: 15px;
}