*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collpase;
outline: none;
box-sizing: content-box;
color: #444;
}

