*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
color: #fff;
text-align: center;
text-transform: uppercase;
}

html,body,main{
height: 100%;
background-color: #f1f1f1;
}

main section{
height: 50%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

main section:nth-child(2n){
background-color: #3498db;
}

main section:nth-child(2n+1){
background-color: #e74c3c;
}

main section h1{
position: absolute;
top: 10px;
}

main section input, button,a{
position: absolute;
bottom: 30px;
background-color: #fff;
color: #444;
padding: 15px 30px;
font-size: 20px;
box-shadow: 0 0 5px;
border-radius: 10px;
cursor: pointer;
transition: .3s;
font-weight: bold;
}

main section input:hover, button:hover,a:hover{
transform: scale(1.05);
box-shadow: 0 0 10px;
}