*{
margin: 15px 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
box-sizing: content-box;
color: tomato;

}

body{
background-color: #f1f1f1;
text-align: center;
}

body h1{
font-size: 50px;
text-transform: uppercase;
letter-spacing: 2px;
}

body p{
font-size: 20px;
font-weight: bold;
padding: 15px 0;
}

body button{
background-color: tomato;
color: #fff;
padding: 15px 30px;
font-size: 20px;
box-shadow: 0 0 2px #444;
cursor: pointer;
transition: .3s;
}

body button:hover{
box-shadow: 0 0 5px #444;
transform: scale(1.02);
}