*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #ecf0f1;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
text-align: center;
padding: 15px 0;
}

html,body,header, i:first-child{
padding: 0;
background-color: #2c3e50;
}

header i{
transform: rotate(180deg);
font-size: 100px;
transition: .3s;
}

header i#lampadaLigada{
color: #f1c40f;
text-shadow: 0 0 25px #f1c40f;
}

main h1{
font-size: 50px;
text-transform: uppercase;
letter-spacing: 5px;
}

main p{
font-size: 20px;
}

main i{
cursor: pointer;
font-size: 100px;
transition: .3s;
}

main i#botaoClicado{
color: #2ecc71;
text-shadow: 0 0 5px #2ecc71;
}