*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
color: #444;
text-transform: uppercase;
}

body{
background-color: #fff;
}

header{
box-shadow: 0 0 10px;
display: flex;
padding: 15px;
}

header h1{
width: 100%;
}

header div{
border-radius: 10px;
box-shadow: 0 0 10px;
width: 80px;
height: 40px;
display: flex;
justify-content: space-evenly;
align-items: center;
}

header div span{
font-weight: bold;
}

main{
padding: 30px 0;
text-align: center;
display: flex;
justify-content: center;
position: relative;
}

main *{
margin: 0 5px;
padding-left: 5px;
font-weight: bold;
}


main input{
border-bottom: 1px solid;
}

main i{
margin: 0;
padding: 0;
font-size: 50px;
padding-top: 2px;
cursor: pointer;
}

main i#adicionarTarefa{
color: #f1c40f;
}

main ul{
top: 110px;
position: absolute;
}

main ul li{
padding: 15px;
border-bottom: 1px solid;
}