*{
margin: 15px 0;
padding: 15px ;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
color: #fff;
font-size: 20px;
text-align: center;
background-color: #3498db;
}

body{
background-color: #3498db;
}

main section p{
position: absolute;
top: 15px;
right: 15px;
}

main section input{
box-shadow: 0 0 10px #444;
border-radius: 5px;
}

main section input::placeholder{
color: #fff;
}

main section button[name="adicionar"]{
position: absolute;
top: 128px;
}

main section button{
border-radius: 50%;
width: 30px;
height: 30px;
box-shadow: 0 0 10px #444;
font-size: 50px;
display: inline-flex;
justify-content: center;
align-items: center;
transition: .2s;
cursor: pointer;
margin: 0 15px;
}

main section button:active{
box-shadow: 0 0 2px #444;
transform: scale(.95);
}